// Theme
$blue: #31AFCB;
$pink: rgb(189, 84, 139);
$dark-gray: #333;
$dark-blue: #036277;

// Reset Vars
$default-font-family: 'Lato', Arial;
$default-title-font-family: 'Alegreya SC', Arial;
$default-font-size: 16pt;
$default-font-weight: 300;
$default-text-color: #7a7a7a;
$default-anchor-color: $blue;

// Misc
$gutter: 1.5rem;
$desktop-page-width: 900px;
$desktop-breakpoint: 950px;
