// ****************************************
//  Layout Helpers
// *****************************************/

// Micro Clearfix
@mixin clearfix {

    /**
     * More Details: http://nicolasgallagher.com/micro-clearfix-hack/
     */
     
    /**
     * For modern browsers
     * 1. The space content is one way to avoid an Opera bug when the
     *    contenteditable attribute is included anywhere else in the document.
     *    Otherwise it causes space to appear at the top and bottom of elements
     *    that are clearfixed.
     * 2. The use of `table` rather than `block` is only necessary if using
     *    `:before` to contain the top-margins of child elements.
     */
    &::before,
    &::after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &::after {
        clear: both;
    }

}

// Vertical Gutters
@mixin owl($gutter) {
    /**
     * Apply to containers to get nice gutters between vertical items
     *
     * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
     */

    // Reset all first-child elements to have no vertical margin
    > * {
        margin-top: 0;
        margin-bottom: 0;
    }

    // It's the "Lobotomized Owl"
    > * + * {
        margin-top: $gutter;
    }
}


// ***********************************
//  Responsive
// ***********************************

// Wider than
@mixin wider-than($min-width) {
    @media (min-width: $min-width) {
        @content;
    }
}

// Smaller than
@mixin between($min-width, $max-width) {
    @media (min-width: $min-width) and (max-width: $max-width) {
        @content;
    }
}
