@charset "UTF-8";
/**
 * Utils
 */
/**
 * Base
 */
html {
  box-sizing: border-box;
  color: #7a7a7a;
  font: 16pt "Lato", Arial;
  font-weight: 300;
  letter-spacing: 0.05em; }

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
  letter-spacing: inherit; }

body {
  margin: 0;
  background-color: #333; }

/**
 * Components
 */
a {
  color: #31AFCB;
  text-decoration: none;
  cursor: pointer; }

a > i.fa {
  font-size: 0.8em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Alegreya SC", Arial;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  color: #31AFCB; }

h1 {
  font-size: 1.3em; }

h2 {
  font-size: 1.2em; }

h3 {
  font-size: 1em; }

@media (min-width: 900px) {
  h1 {
    font-size: 2em; }
  h2 {
    font-size: 1.3em; }
  h3 {
    font-size: 1.5em; } }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

p {
  line-height: 1.5em; }
  p.footnote {
    font-size: 0.7em; }
  p a {
    text-decoration: underline; }
  p strong {
    color: #bd548b; }
  p img.infusionsoft {
    vertical-align: middle;
    height: 1em;
    top: -3px;
    position: relative; }
  @media (min-width: 600px) {
    p {
      text-align: justify; } }

/****************************************
  Selections
*****************************************/
::-moz-selection {
  background: #bd548b;
  color: white; }
::selection {
  background: #bd548b;
  color: white; }

.ribbon {
  background-color: #036277;
  color: #fff;
  display: inline-block;
  height: 1.6em;
  line-height: 1.6em;
  position: relative;
  margin-left: 1.6em;
  margin-right: 1.6em; }
  .ribbon::before, .ribbon::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    border: 0.8em solid #036277; }
  .ribbon::before {
    left: calc(-1.6em + 1px);
    border-left-color: transparent; }
  .ribbon::after {
    right: calc(-1.6em + 1px);
    border-right-color: transparent; }

button.no-theme {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1em;
  outline: 0;
  display: inline-block; }
  button.no-theme::-moz-focus-inner {
    border: 0; }
  button.no-theme:hover {
    outline: 0; }

button:not(.no-theme), a.button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1em;
  outline: 0;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: #31AFCB;
  border: 1px solid currentColor; }
  button:not(.no-theme)::-moz-focus-inner, a.button::-moz-focus-inner {
    border: 0; }
  button:not(.no-theme):hover, a.button:hover {
    outline: 0; }
  button:not(.no-theme):hover, a.button:hover {
    background-color: #31AFCB;
    border-color: #31AFCB;
    color: #fff; }

.info-table {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  .info-table .col {
    padding: 0.75rem; }
  .info-table .row + .row {
    border-top: 1px solid #ddd; }
  @media (min-width: 700px) {
    .info-table .row {
      display: -ms-flexbox;
      display: flex; }
    .info-table .col {
      border-top: none !important; }
    .info-table .col:not([class^="col span"]) {
      -ms-flex: 1;
          flex: 1; }
    .info-table .col + .col {
      border-left: 1px solid #ddd; }
    .info-table .col.span-1 {
      width: 6.25%; }
    .info-table .col.span-2 {
      width: 12.5%; }
    .info-table .col.span-3 {
      width: 18.75%; }
    .info-table .col.span-4 {
      width: 25%; }
    .info-table .col.span-5 {
      width: 31.25%; }
    .info-table .col.span-6 {
      width: 37.5%; }
    .info-table .col.span-7 {
      width: 43.75%; }
    .info-table .col.span-8 {
      width: 50%; }
    .info-table .col.span-9 {
      width: 56.25%; }
    .info-table .col.span-10 {
      width: 62.5%; }
    .info-table .col.span-11 {
      width: 68.75%; }
    .info-table .col.span-12 {
      width: 75%; }
    .info-table .col.span-13 {
      width: 81.25%; }
    .info-table .col.span-14 {
      width: 87.5%; }
    .info-table .col.span-15 {
      width: 93.75%; }
    .info-table .col.span-16 {
      width: 100%; } }
  .info-table .row.header {
    background-color: #eee; }
    .info-table .row.header .col {
      border: none; }
    .info-table .row.header .col + .col {
      display: none; }
    .info-table .row.header strong {
      color: #31AFCB; }
  .info-table .title {
    font-weight: bold;
    color: #bd548b; }
  .info-table .description {
    display: block;
    margin-top: 0.75rem; }
  .info-table .terms {
    display: block;
    font-family: Arial;
    font-weight: bold;
    margin-top: 0.75rem; }
  .info-table .check {
    display: inline;
    fill: #31AFCB;
    width: 1em;
    height: 1em;
    margin-right: 0.5em; }
  .info-table.packages .col + .col {
    text-align: center; }
  @media (min-width: 700px) {
    .info-table {
      font-size: 0.7em; }
      .info-table .row.header .col + .col {
        display: table-cell; }
      .info-table .check {
        width: 2em;
        height: 2em;
        margin-right: 0; }
      .info-table.packages .col + .col span {
        display: none; } }

.info-table.sponsor-types .col {
  position: relative; }

.info-table.sponsor-types .type {
  font-weight: bold;
  color: #bd548b; }

.info-table.sponsor-types .price {
  float: right;
  font-weight: bold; }

.info-table.sponsor-types .spots {
  clear: both;
  font-size: 0.8em;
  display: block;
  font-weight: bold;
  margin-top: 10px; }

.info-table.sponsor-types .status {
  font-size: 0.8em;
  background-color: #31AFCB;
  color: #fff;
  padding: 0.3em;
  position: absolute;
  top: -8px;
  left: -5px;
  border-radius: 2px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  z-index: 1000; }

.speaker-list {
  text-align: center; }
  .speaker-list .speaker {
    display: inline-block;
    vertical-align: top;
    padding: 1em 1em;
    position: relative;
    width: 220px; }
    .speaker-list .speaker::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      top: 0;
      background-image: url("/images/confetti.png");
      background-size: 100%;
      background-position: 0 -10px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 1s;
      pointer-events: none; }
    .speaker-list .speaker .image-wrap {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;
      -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
      border: 3px solid #fff;
      background-color: #eee; }
      .speaker-list .speaker .image-wrap img {
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
    .speaker-list .speaker:hover img {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .speaker-list .speaker:hover::before {
      opacity: 1; }
    .speaker-list .speaker .name {
      display: block;
      margin-top: 0.5em;
      font-family: "Alegreya SC", Arial;
      font-weight: normal; }
    .speaker-list .speaker .twitter {
      display: block;
      font-size: 0.7em;
      color: #bd548b; }
    .speaker-list .speaker .talk {
      margin-top: 0.5em;
      font-size: 0.6em;
      font-weight: bold; }

.sponsor-logos {
  text-align: center; }
  .sponsor-logos > a {
    display: inline-block;
    width: 45%;
    min-width: 350px; }
  .sponsor-logos img {
    vertical-align: middle;
    max-height: 120px;
    margin-top: 1em;
    margin-bottom: 1em; }
    .sponsor-logos img[src$="svg"] {
      width: 80%; }
  .sponsor-logos .next {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    background-color: #eee;
    font-size: 0.8em;
    padding: 1em;
    border-radius: 1em; }
    .sponsor-logos .next strong {
      color: #bd548b; }
    .sponsor-logos .next > * {
      display: block; }
  .sponsor-logos:hover .next {
    -webkit-animation-name: shakeit;
            animation-name: shakeit;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }

/**
 * Layout
 */
.hero {
  background-image: url("/images/people.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
  transition: margin 1s;
  overflow: hidden;
  color: #fff; }
  .hero * {
    color: inherit; }
  @media (min-width: 600px) {
    .hero {
      height: 600px; } }
  .hero .intro {
    position: absolute;
    right: 1em;
    top: 7em;
    text-align: right;
    -webkit-transform: perspective(500px) rotateY(-40deg);
            transform: perspective(500px) rotateY(-40deg); }
    @media (min-width: 500px) {
      .hero .intro {
        right: 3em;
        top: 4em; } }
    .hero .intro h1 {
      margin: 0;
      line-height: 110%;
      transition: all 0.3s; }
      .hero .intro h1 span {
        padding: 0 0.5em;
        background-color: #bd548b;
        color: #fff; }
  .hero .overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 3px #036277; }
    @media (min-width: 600px) {
      .hero .overview {
        bottom: 2em;
        left: 2em;
        right: auto;
        text-align: left; } }

.page.scroll .hero .intro h1:first-child {
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  opacity: 0; }

.page.scroll .hero .intro h1:last-child {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
  opacity: 0; }

.panel.event-venue {
  background-image: url("/images/photos.png");
  background-repeat: no-repeat;
  background-size: contain; }
  .panel.event-venue .map {
    position: relative;
    background-image: url("/images/map.png");
    background-size: cover;
    background-position: bottom right;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    height: 700px; }
    @media (min-width: 700px) {
      .panel.event-venue .map {
        height: 400px; } }
    .panel.event-venue .map .info {
      background-color: rgba(49, 175, 203, 0.8);
      color: #fff;
      border-radius: 1em;
      padding: 1.5rem;
      transition: all 0.2s;
      overflow: hidden;
      font-size: 0.8em;
      position: absolute;
      left: 2em;
      top: 2em;
      right: 2em;
      /**
     * Apply to containers to get nice gutters between vertical items
     *
     * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
     */ }
      @media (min-width: 700px) {
        .panel.event-venue .map .info {
          right: 40%;
          bottom: 10em; } }
      .panel.event-venue .map .info p {
        text-align: left; }
      .panel.event-venue .map .info .toggle-details {
        color: #fff; }
      .panel.event-venue .map .info > * {
        margin-top: 0;
        margin-bottom: 0; }
      .panel.event-venue .map .info > * + * {
        margin-top: 1.5rem; }
      .panel.event-venue .map .info section {
        /**
     * Apply to containers to get nice gutters between vertical items
     *
     * More Details: https://www.youtube.com/watch?v=w4skJXB03Ho&noredirect=1
     */ }
        .panel.event-venue .map .info section > * {
          margin-top: 0;
          margin-bottom: 0; }
        .panel.event-venue .map .info section > * + * {
          margin-top: 1.5rem; }
      .panel.event-venue .map .info section:first-child {
        display: block; }
      .panel.event-venue .map .info section:last-child {
        display: none; }
  .panel.event-venue .map.details .info {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    background-color: #036277; }
    .panel.event-venue .map.details .info section:first-child {
      display: none; }
    .panel.event-venue .map.details .info section:last-child {
      display: block; }
    .panel.event-venue .map.details .info a {
      color: #fff; }
  @media (min-width: 900px) {
    .panel.event-venue header {
      margin-bottom: 3rem; } }

.panel {
  padding: 1.5rem;
  padding-top: 0; }
  .panel header {
    height: 4em; }
    .panel header h1 {
      background-color: #bd548b;
      color: #fff;
      display: inline-block;
      padding: 0 0.5em;
      border: 0.3em solid #fff;
      -webkit-transform: perspective(500px) rotateY(50deg);
              transform: perspective(500px) rotateY(50deg);
      margin-left: -2em; }
  .panel:nth-child(odd) {
    background-color: #fafafa; }

.safari .panel header h1 {
  -webkit-transform: none;
          transform: none; }

.page {
  background-image: linear-gradient(-40deg, #31AFCB, #bd548b); }

@media (min-width: 700px) {
  .page.home::after {
    content: '';
    display: block;
    background-image: url("/images/trees.svg");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 51;
    left: 0;
    right: 0;
    bottom: 0;
    height: 700px;
    pointer-events: none;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s; }
  .page.home.scroll::after {
    -webkit-transform: translateY(10%) scale(1.4);
            transform: translateY(10%) scale(1.4); } }

@media (min-width: 1500px) {
  .page.home.scroll::after {
    -webkit-transform: translateY(25%) scale(1.4);
            transform: translateY(25%) scale(1.4); } }

main {
  background-color: #fff;
  margin: 0 auto;
  width: 95vw; }
  @media (min-width: 950px) {
    main {
      width: 900px; } }

.subpage-details {
  padding: 1.5rem;
  padding-top: 120px; }
  .subpage-details iframe {
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem; }
  .subpage-details .photos {
    width: 100%; }

/****************************************
  JS Controlled Mobile Nav
*****************************************/
.menu-on {
  position: fixed;
  z-index: 999;
  top: 0.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background-color: #bd548b;
  padding: 0 1em;
  border-radius: 3px;
  cursor: pointer; }
  .menu-on::before {
    content: '•••';
    display: block;
    color: #fff; }

.menu-off-tint {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.9); }

.menu-off-button {
  display: none;
  position: fixed;
  z-index: 1001;
  right: 1em;
  bottom: 1em;
  left: 1em;
  color: #fff;
  text-align: center;
  padding: 1em;
  background-color: #bd548b;
  cursor: pointer;
  border: 5px solid rgba(51, 51, 51, 0.5); }

.page.show-menu .menu-on {
  display: none; }

.page.show-menu .menu-off-tint {
  display: block; }

.page.show-menu .menu-off-button {
  display: block; }

.page.show-menu .primary-nav nav {
  display: block; }

@media (max-width: 950px) {
  .page.show-menu .perspective {
    display: none; } }

@media (min-width: 950px) {
  .menu-on {
    display: none; }
  .menu-off-tint {
    display: none; }
  .menu-off-button {
    display: none; } }

/****************************************
  Primary Nav
*****************************************/
.primary-nav {
  background-color: #333;
  transition: background-color 0.5s; }
  .primary-nav nav {
    display: none;
    position: fixed;
    z-index: 1002;
    top: 0;
    right: 0;
    left: 0;
    background-color: #333; }
    .primary-nav nav a {
      color: #fff;
      display: block;
      padding: 0.5em 1em;
      text-align: center; }
  @media (min-width: 950px) {
    .primary-nav {
      width: 900px;
      position: fixed;
      z-index: 50;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: rgba(3, 98, 119, 0.6); }
      .primary-nav nav {
        position: static;
        background-color: transparent;
        display: block;
        float: right;
        font-size: 0.8em; }
        .primary-nav nav a {
          display: inline-block; } }

.logo {
  position: absolute;
  z-index: 99;
  top: -0.5em;
  left: 0.2em;
  transition: all 0.5s;
  width: 150px; }

@media (min-width: 950px) {
  .page.home .logo {
    z-index: 200;
    width: 350px;
    top: -2em;
    left: -4em; } }

@media (min-width: 950px) {
  .page.scroll .primary-nav {
    background-color: #333; }
  .page.scroll .logo {
    left: -3em;
    top: -1em;
    width: 150px; } }

.speaker-profiles-tint {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 60;
  display: none; }

body:not(.safari) .speaker-profiles-frame, .speaker-profiles {
  display: none;
  position: fixed;
  width: 90vw;
  max-width: 800px;
  height: 70%;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 2em; }
  @media (min-width: 780px) {
    body:not(.safari) .speaker-profiles-frame, .speaker-profiles {
      height: 80%; } }

body:not(.safari) .speaker-profiles-frame {
  z-index: 61;
  overflow: hidden; }
  body:not(.safari) .speaker-profiles-frame::before {
    content: '';
    position: absolute;
    bottom: 165px;
    width: 120px;
    height: 120px;
    right: 70px;
    top: -60px;
    border-radius: 100%;
    box-shadow: 0px 2000px 0px 2300px #036277; }

.speaker-profiles {
  z-index: 62; }
  .speaker-profiles .speaker {
    color: #fff;
    display: none; }
    .speaker-profiles .speaker .image {
      width: 100px;
      height: 100px;
      position: absolute;
      right: 80px;
      top: -50px;
      background-size: cover;
      border: 5px solid #31AFCB;
      border-radius: 50%; }
    .speaker-profiles .speaker .content {
      position: absolute;
      left: 40px;
      top: 80px;
      right: 40px;
      bottom: 40px;
      z-index: 63;
      overflow-y: scroll; }
    .speaker-profiles .speaker .title {
      font-family: "Alegreya SC", Arial; }

.page.show-profile .speaker-profiles-tint {
  display: block; }

.page.show-profile .speaker-profiles-frame {
  display: block; }

.page.show-profile .speaker-profiles {
  display: block; }

.safari .speaker-profiles {
  background-color: #036277; }

.primary-footer {
  background: #bd548b;
  min-height: 250px;
  padding: 1.5rem;
  color: #fff; }
  .primary-footer a {
    color: #fff; }
