.hero {
    background-image: url('/images/people.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    transition: margin 1s;
    overflow: hidden;

    // Cascade White
    color: #fff;
    * { color: inherit; }

    @include wider-than(600px) {
        height: 600px;
    }

    .intro {
        position: absolute;
        right: 1em;
        top: 7em;
        text-align: right;
        transform: perspective(500px) rotateY(-40deg);

        @include wider-than(500px) {
            right: 3em;
            top: 4em;  
        }
        
        h1 {
            margin: 0;
            line-height: 110%;
            transition: all 0.3s;

            span {
                padding: 0 0.5em;
                background-color: $pink;
                color: #fff;
            }
        }

    }

    .overview {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1em;
        text-align: center;
        color: #fff;
        text-shadow: 2px 2px 3px $dark-blue;

        @include wider-than(600px) {
            bottom: 2em;
            left: 2em;
            right: auto;
            text-align: left;
        }
    }

}

.page.scroll .hero {

    .intro {
        h1:first-child {
            transform: translateX(500px);  
            opacity: 0;       
        }
        h1:last-child {
            transform: translateX(-500px);
            opacity: 0;
        }
    }

    // .overview {
    //     transform: translateY(0);
    //     opacity: 1; 
    // }

}