.panel {
  padding: $gutter;
  padding-top: 0;

  header {
    height: 4em;

    h1 {
      background-color: $pink;
      color: #fff;
      display: inline-block;
      padding: 0 0.5em;
      border: 0.3em solid #fff;
      transform: perspective(500px) rotateY(50deg);
      margin-left: -2em;
    }

  }

  // Alternate Panels
  &:nth-child(odd) {
    background-color: #fafafa;
  }

}

.safari .panel header h1 {
  transform: none;
}