.panel {
    padding: $gutter;
    padding-top: 0;

    header {
        display: flex;
        height: 4em;
        
        .perspective {
            border: 0.3em solid #fff;
        }

        > div {
            flex: 1;
            align-self: center;
        }

        > div:first-child {
            .perspective {
                margin-left: -2em;
            }
        }

        > div + div:last-child { // If the last child is not also the first
            text-align: right;

            .perspective {
                margin-right: -2em;
                transform: perspective(500px) rotateY(-50deg);
            }
        }

    }

    &:nth-child(odd) {
        background-color: #fafafa;
    }

}

