#toggle-menu { display: none; }

.primary-nav {
    background-color: $dark-gray;
    transition: background-color 0.5s;

    nav {
        display: none;
        position: fixed;
        z-index: 1002;
        top: 0;
        right: 0;
        left: 0;
        background-color: $dark-gray;

        a {
            color: #fff;
            display: block;
            padding: 0.5em 1em;
            text-align: center;
        }
    }

    .menu-on {
        position: fixed;
        z-index: 999;
        top: 0.5em;
        right: 1em;
        box-shadow: 2px 2px 8px rgba(#000, 0.5);
        background-color: $pink;
        padding: 0 1em;
        border-radius: 3px;
        cursor: pointer;
        &::before {
            content: '•••';
            display: block;
            color: #fff;
        }
    }

    .menu-off-tint {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($dark-gray, 0.9);
    }

    .menu-off-button {
        display: none;
        position: fixed;
        z-index: 1001;
        right: 1em;
        bottom: 1em;
        left: 1em;
        color: #fff;
        text-align: center;
        padding: 1em;
        background-color: $pink;
        cursor: pointer;
    }

    #toggle-menu:checked {
        ~ .menu-on { display: none; }
        ~ .menu-off-tint { display: block; }
        ~ .menu-off-button { display: block; }
        ~ nav {
            display: block;
        }
    }

    @include wider-than($desktop-breakpoint) {
        width: $desktop-page-width;
        position: fixed;
        z-index: 50;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba($dark-blue, 0.6);

        .menu-on { display: none; }
        .menu-off-tint { display: none; }
        .menu-off-button { display: none; }

        nav {
            position: static; // negate all fixed position qualities
            background-color: transparent;
            display: block;
            float: right;
            font-size: 0.8em;

            a {
                display: inline-block;   
            }
        }
    }

}

.logo {
    position: absolute;
    z-index: 99; // Below .primary-nav in mobile
    top: -0.5em;
    left: 0.2em;
    transition: all 0.5s;
    width: 150px;

    @include wider-than($desktop-breakpoint) {
        z-index: 200; // Above .primary-nav in desktop
        width: 350px;
        top: -2em;
        left: -4em;
    }

}

.page.scroll {
    @include wider-than($desktop-breakpoint) {
        .primary-nav {
            background-color: $dark-gray;
        }

        .logo {
            left: -3em;
            top: -1em;
            width: 150px;
        }
    }
}