.page {
    background-image: linear-gradient(-40deg, $blue, $pink);
}

.page.home {
    @include wider-than(700px) {
        &::after {
            content: '';
            display: block;
            
            background-image: url('/images/trees.svg');
            background-size: contain;
            background-position: center bottom;
            background-repeat: no-repeat;

            position: fixed;
            z-index: 51;
            left: 0;
            right: 0;
            bottom: 0;
            height: 700px;
            pointer-events: none;

            transition: transform 0.5s;
        }
        &.scroll::after {
            transform: translateY(10%) scale(1.4);
        }
    }
    @include wider-than(1500px) {
        &.scroll::after {
            transform: translateY(25%) scale(1.4);
        }
    }
}

main {
    background-color: #fff;
    margin: 0 auto;
    width: 95vw;
    
    @include wider-than($desktop-breakpoint) {
        width: $desktop-page-width;
    }
}