.sponsorship-details {
    padding: $gutter;
    padding-top: 120px;

    iframe {
        float: right;
        margin-left: $gutter;
        margin-bottom: $gutter;
    }

    .photos {
        width: 100%;
    }
}