// ****************************************
//   Common tags 
// ****************************************

a {
    color: $default-anchor-color;
    text-decoration: none;
    cursor: pointer;
}

a > i.fa {
    font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: $default-title-font-family;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
}

h1 { font-size: 1.3em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1em; }

@include wider-than(900px) {
    h1 { font-size: 2em; }
    h2 { font-size: 1.3em; }
    h3 { font-size: 1.5em; }
}

em { font-style: italic; }
strong { font-weight: 700; }

p {
    line-height: 1.5em;

    &.footnote { font-size: 0.7em; }

    a { text-decoration: underline; }
    strong { color: $pink; }

    img.infusionsoft {
        vertical-align: middle;
        height: 1em;
        top: -3px;
        position: relative;
    }

    @include wider-than(600px) {
        text-align: justify;
    }
}


/****************************************
  Selections
*****************************************/

::selection {
    background: $pink;
    color: white;
}