$ribbon-height: 1.6em;

.ribbon {
    background-color: $dark-blue;
    color: #fff;
    display: inline-block;
    height: $ribbon-height;
    line-height: $ribbon-height;
    position: relative;
    margin-left: $ribbon-height;
    margin-right: $ribbon-height;

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        border: (0.5 * $ribbon-height) solid $dark-blue;
    }

    &::before {
        left: calc(-1.6em + 1px); // fixes some browser issues
        border-left-color: transparent;
    }

    &::after {
        right: calc(-1.6em + 1px); // fixes some browser issues
        border-right-color: transparent;
    }
}