// ****************************************
//   Inherited Syles
// ****************************************

// See this explanation for details
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html {
    box-sizing: border-box;
    color: $default-text-color;
    font: $default-font-size $default-font-family;
    font-weight: $default-font-weight;
    letter-spacing: 0.05em;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
}


// ****************************************
//   Body
// ****************************************

body {
    margin: 0;
    background-color: $dark-gray;
}